.tweet-form {
  border: 2px solid white;
  border-radius: 5px;
  width: 600px;
  height: 180px;
  margin: auto;
  padding-bottom: 10px;
}
.tweet-form > textarea {
  color: white;
  border: none;
  height: 80%;
  width: 95%;
  background-color: #15202b;
  outline: none;
}

::placeholder {
  color: white;
}

.form-bottom {
  display: flex;
  justify-content: space-between;
}

.error-message {
  color: #721c24;
  background-color: pink;
  border-radius: 5px;
  margin: 0 0 0 20px;
}

.tweet-button {
  background-color: #007bff;
  border-radius: 4px;
  border: none;
  color: white;
  margin: 5px;
}
.tweet-button:disabled {
  background-color: gray;
  cursor: no-drop;
}
@media screen and (max-width: 600px) {
  .tweet-form {
    width: 100%;
  }
  .tweet-item {
    width: 100%;
  }
}
