body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.main {
  background-color: #15202b;
  height: 100%;
  width: 85%;
  margin: 50px auto;
  padding: 10px;
}

.tweet-form {
  border: 2px solid white;
  border-radius: 5px;
  width: 600px;
  height: 180px;
  margin: auto;
  padding-bottom: 10px;
}
.tweet-form > textarea {
  color: white;
  border: none;
  height: 80%;
  width: 95%;
  background-color: #15202b;
  outline: none;
}

::placeholder {
  color: white;
}

.form-bottom {
  display: flex;
  justify-content: space-between;
}

.error-message {
  color: #721c24;
  background-color: pink;
  border-radius: 5px;
  margin: 0 0 0 20px;
}

.tweet-button {
  background-color: #007bff;
  border-radius: 4px;
  border: none;
  color: white;
  margin: 5px;
}
.tweet-button:disabled {
  background-color: gray;
  cursor: no-drop;
}

.tweet-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.tweet-item {
  background-color: #343a40;
  width: 600px;
  border-radius: 5px;
  border: none;
  margin: 20px auto;
  color: white;
}
.tweet-item-top {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  color: #6c757d;
}
.tweet-item-bottom {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  text-align: left;
  word-break: break-all;
}
