body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #15202b;
  text-align: center;
  background-color: #15202b;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* //!======general CSS===== */
.my-form {
  max-width: 500px;
  margin: auto;
}

.display {
  display: block;
}
.hide {
  display: none;
}
/* //!======general CSS===== */

/* ---------- */

@media screen and (max-width: 600px) {
  .tweet-form {
    width: 100%;
  }
  .tweet-item {
    width: 100%;
  }
  .navBar > a {
    padding: 0;
  }
  .navBar > p {
    margin: 0;
  }
  .main {
    width: 100%;
  }
}
